
@media screen and (max-width: 856px) {
	html, body{
		overflow-x: hidden;
		max-width: 100%;
	}
	
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 2rem;
		position: fixed;
		top:-20px;

    }

    .logo, .menu {
        padding: 0;
    }
	.logoimg{
		position: relative;
		top:20px;
	}
    /* Hide the menu items by default */
    .menu {
        width: 100%;
        text-align: left;
        display: none;
        flex-direction: column;
    }

    /* Show the menu as a bar button (hamburger icon) */
    .menu-bar {
		
        display: block;
        width: 30px;
        height: 3px;
        background-color: black;
        margin: 5px 0;
    }

    .hamburger {
		position: relative;
		left:320px;
		top: -20px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 25px;
        width: 35px;
    }

    /* Toggle the menu display when the bar button is clicked */
    .menu.active {
        display: flex;
    }

    .menu-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .intro {
        padding: 2rem 0.5rem;
		width: 415px;
		position: relative;
		top:58px;
    }
	.greet-heading{
		font-size: 1.8rem;
		position: relative;
		top: 25px;
	}
	.my-heading{
		font-size: 2rem;
		position: relative;
		top:10px;
	}

	.responsive{
		position: relative;
		bottom: 70px;
		width: 55%;
		height: auto;
		border-top-left-radius: 600px;
		border-top-right-radius: 600px;
		border-bottom-left-radius: 600px;
		border-bottom-right-radius: 600px;
	  
	}

	.intro-sci{
		position: relative;
		top: -34px;
	}
	.btn-box{
		position: relative;
		top: -30px;
	}
    .aboutheading, .myheading-2, .skills-header, .myheading-5 {
        left: 0;
        text-align: center;
    }
	.myheading-4{
		left:60px;
		text-align: center;
	}
	.myheading-6 {
		margin-top: 5%;
		margin-bottom: 1%;
		font-size: 2.5rem;
		position: relative;
		left:-209px;
		text-align: center;
	}
    .text-content {
        max-width: 100%;
        left: 0;
        margin-top: 0;
        text-align: center;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-picture {
        margin: 0 auto 20px;
    }

    .container, .container1 {
        width: 100%;
        left: 0 !important;
        right: 0 !important;
    }

    .container.left, .container1.lefts {
        left: 0 !important;
    }

    .container.right, .container1.right {
        left: 0 !important;
    }

    .timeline{
		padding: 0 1rem;
		position: relative;
		left:-50px;
	}

	.experience-track {
        padding: 0 0.5rem;
		position: relative;
		left:199px;
    }
	.experience-track .experience-2 {
		position: relative;
		left:-200px;
	}

	.experience-track .experience-4 {
		position: relative;
		left:-200px;
	}

	
	
    .skills-container {
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
    }

    .project12 {
        max-width: 100%;
		position: relative;
		left: -39px;
    }

    .hero {
        flex-direction: column;
        justify-content: center;
    }

    .img {
        position: static;
        margin: 2rem 0 0;
    }
	.Contact{
		width: 824px;
    	height: 540px;
	}
	#my-details-container{
		position: relative;
		top: 299px;
		right: 384px;
	}
}
